@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
margin:0;
padding:0;
box-sizing:border-box;
background-color: rebeccapurple;
}

.home_bg{
background-image:url('./Assets/home-bg.png');
background-size: cover;
background-position: center;
height:100vh;
}
